<div class="row">
  <div class="col-md-6">
    <%= f.hidden_field :id %>

    <%= f.field_container :name, class: ['form-group'] do %>
      <%= f.label :name, Spree.t(:name) %> <span class="required">*</span>
      <%= f.text_field :name, :class => "form-control" %>
      <%= f.error_message_on :name %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <% f.object.fields.each_with_index do |field,i| %>
      <%= render partial: 'field', locals: { field: field,
                                             path: "#{f.object_name}[fields][]",
                                             level: 1 } %>
    <% end %>
  </div>
</div>
