Images

<div id="<%= id = SecureRandom.hex %>"></div>

<%= javascript_tag do -%>
  var template = JST['spree/backend/templates/pages/image'];

  <% field.fields.each_with_index do |field,i| %>
    var form = template({'path': '<%=path%>', 'field': <%== field.hashify.to_json %>, 'i': <%=i%>});
    $('div#<%=id%>').append(form);
  <% end %>
<% end -%>

<a href="#" class="add_image" data-id="<%=id%>"
                              data-count="<%= field.fields.size %>"
                              data-path="<%= path %>">Add Image</a>
